.css-1g86id8-MuiTreeItem-content.MuiTreeItem-content.Mui-focused {
    background-color: transparent
}

.css-1g86id8-MuiTreeItem-content.MuiTreeItem-content.Mui-expanded {
    padding: 0 8px;
    width: 100%;
    display: grid;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.css-1g86id8-MuiTreeItem-content.MuiTreeItem-content {
    padding: 0 8px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: grid;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.css-1g86id8-MuiTreeItem-content.MuiTreeItem-content:hover {
    background-color: transparent
}
